# Prepare rules for the all the data sets

# Books dataset

In [1]:
#Import libraries
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
conda install -c conda-forge mlxtend

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\acer\anaconda3

  added / updated specs:
    - mlxtend


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.10.1               |   py38haa244fe_0         3.1 MB  conda-forge
    ------------------------------------------------------------
                                           Total:         3.1 MB

The following packages will be UPDATED:

  conda                                4.9.2-py38haa244fe_0 --> 4.10.1-py38haa244fe_0



Downloading and Extracting Packages

conda-4.10.1         | 3.1 MB    |            |   0%
conda-4.10.1         | 3.1 MB    |            |   1%
conda-4.10.1         | 3.1 MB    | 1          |   2%
conda-4.10.1         | 3.1 MB    | 3          |   3%
conda-4.10.1         | 3.1 MB    | 3          |   4%
conda-4.10.1         | 3.1 MB    | 5          |   5%
conda-4.10.1         | 3.1 MB    | 6          |   6%
conda-4.10.1         | 3.1 MB    | 7          |   7%
conda-4.10.1         | 3.1 MB    | 8          |   8%
conda-4.10.1         | 3.1 MB    | 9          |  10%
conda-4.10.1         | 3.1 MB    | #          |  11%
conda-4.10.1         | 3.1 MB    | #1         |  12%
conda-4.10.1         | 3.1 MB    | #2         |  13%
conda-4.10.1         | 3.1 MB    | #3         |  14%
conda-4.10.1         | 3.1 MB    | #5         |  15%
conda-4.10.1         | 3.1 MB    | #6         |  16%
conda-4.10.1         | 3.1 MB    | #8         |  18%
conda-4.10.1         | 3.1 MB    | #9         |  20%
conda-4.10.1         | 3.1 MB    | ##2        |  22%
conda-4.10.1         | 3.1 MB    | ##4        |  24%
conda-4.10.1         | 3.1 MB    | ##5        |  26%
conda-4.10.1         | 3.1 MB    | ##7        |  27%
conda-4.10.1         | 3.1 MB    | ##9        |  29%
conda-4.10.1         | 3.1 MB    | ###1       |  32%
conda-4.10.1         | 3.1 MB    | ###4       |  34%
conda-4.10.1         | 3.1 MB    | ###6       |  36%
conda-4.10.1         | 3.1 MB    | ###8       |  38%
conda-4.10.1         | 3.1 MB    | ####       |  40%
conda-4.10.1         | 3.1 MB    | ####2      |  42%
conda-4.10.1         | 3.1 MB    | ####4      |  45%
conda-4.10.1         | 3.1 MB    | ####7      |  47%
conda-4.10.1         | 3.1 MB    | ####9      |  50%
conda-4.10.1         | 3.1 MB    | #####1     |  52%
conda-4.10.1         | 3.1 MB    | #####3     |  54%
conda-4.10.1         | 3.1 MB    | #####5     |  56%
conda-4.10.1         | 3.1 MB    | #####7     |  58%
conda-4.10.1         | 3.1 MB    | ######     |  60%
conda-4.10.1         | 3.1 MB    | ######2    |  62%
conda-4.10.1         | 3.1 MB    | ######4    |  65%
conda-4.10.1         | 3.1 MB    | ######7    |  67%
conda-4.10.1         | 3.1 MB    | ######9    |  69%
conda-4.10.1         | 3.1 MB    | #######1   |  71%
conda-4.10.1         | 3.1 MB    | #######3   |  73%
conda-4.10.1         | 3.1 MB    | #######5   |  75%
conda-4.10.1         | 3.1 MB    | #######7   |  77%
conda-4.10.1         | 3.1 MB    | #######9   |  79%
conda-4.10.1         | 3.1 MB    | ########1  |  81%
conda-4.10.1         | 3.1 MB    | ########3  |  83%
conda-4.10.1         | 3.1 MB    | ########5  |  85%
conda-4.10.1         | 3.1 MB    | ########8  |  88%
conda-4.10.1         | 3.1 MB    | #########  |  90%
conda-4.10.1         | 3.1 MB    | #########2 |  92%
conda-4.10.1         | 3.1 MB    | #########4 |  95%
conda-4.10.1         | 3.1 MB    | #########7 |  97%
conda-4.10.1         | 3.1 MB    | #########8 |  99%
conda-4.10.1         | 3.1 MB    | ########## | 100%
conda-4.10.1         | 3.1 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [3]:
data=pd.read_csv("book.csv")
data.head()

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0

# Apriori Algorithm

In [4]:
frequent_itemsets = apriori(data, min_support=0.1, use_colnames=True)
frequent_itemsets

    support                       itemsets
0    0.4230                     (ChildBks)
1    0.2475                     (YouthBks)
2    0.4310                      (CookBks)
3    0.2820                     (DoItYBks)
4    0.2145                       (RefBks)
5    0.2410                       (ArtBks)
6    0.2760                      (GeogBks)
7    0.1135                     (ItalCook)
8    0.1085                     (Florence)
9    0.1650           (ChildBks, YouthBks)
10   0.2560            (CookBks, ChildBks)
11   0.1840           (ChildBks, DoItYBks)
12   0.1515             (RefBks, ChildBks)
13   0.1625             (ArtBks, ChildBks)
14   0.1950            (GeogBks, ChildBks)
15   0.1620            (CookBks, YouthBks)
16   0.1155           (DoItYBks, YouthBks)
17   0.1010             (ArtBks, YouthBks)
18   0.1205            (GeogBks, YouthBks)
19   0.1875            (CookBks, DoItYBks)
20   0.1525              (RefBks, CookBks)
21   0.1670              (CookBks, ArtBks)
22   0.1925             (CookBks, GeogBks)
23   0.1135            (CookBks, ItalCook)
24   0.1055             (RefBks, DoItYBks)
25   0.1235             (ArtBks, DoItYBks)
26   0.1325            (GeogBks, DoItYBks)
27   0.1105              (RefBks, GeogBks)
28   0.1275              (ArtBks, GeogBks)
29   0.1290  (CookBks, ChildBks, YouthBks)
30   0.1460  (CookBks, ChildBks, DoItYBks)
31   0.1225    (RefBks, CookBks, ChildBks)
32   0.1265    (CookBks, ArtBks, ChildBks)
33   0.1495   (CookBks, GeogBks, ChildBks)
34   0.1045  (GeogBks, ChildBks, DoItYBks)
35   0.1020    (ArtBks, GeogBks, ChildBks)
36   0.1015    (CookBks, ArtBks, DoItYBks)
37   0.1085   (CookBks, GeogBks, DoItYBks)
38   0.1035     (GeogBks, CookBks, ArtBks)

In [5]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ChildBks),(YouthBks),0.4230,0.2475,0.1650,0.390071,1.576044,0.060308,1.233750
1,(YouthBks),(ChildBks),0.2475,0.4230,0.1650,0.666667,1.576044,0.060308,1.731000
2,(CookBks),(ChildBks),0.4310,0.4230,0.2560,0.593968,1.404179,0.073687,1.421069
3,(ChildBks),(CookBks),0.4230,0.4310,0.2560,0.605201,1.404179,0.073687,1.441240
4,(ChildBks),(DoItYBks),0.4230,0.2820,0.1840,0.434988,1.542511,0.064714,1.270770
...,...,...,...,...,...,...,...,...,...
95,"(ArtBks, GeogBks)",(CookBks),0.1275,0.4310,0.1035,0.811765,1.883445,0.048547,3.022812
96,"(CookBks, ArtBks)",(GeogBks),0.1670,0.2760,0.1035,0.619760,2.245509,0.057408,1.904063
97,(GeogBks),"(CookBks, ArtBks)",0.2760,0.1670,0.1035,0.375000,2.245509,0.057408,1.332800
98,(CookBks),"(ArtBks, GeogBks)",0.4310,0.1275,0.1035,0.240139,1.883445,0.048547,1.148237
99,(ArtBks),"(CookBks, GeogBks)",0.2410,0.1925,0.1035,0.429461,2.230964,0.057107,1.415327

An leverage value of 0 indicates independence. Range will be [-1 1]

A high conviction value means that the consequent is highly depending on the antecedent and range [0 inf]

In [6]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
28,(CookBks),(ItalCook),0.4310,0.1135,0.1135,0.263341,2.320186,0.064582,1.203406
29,(ItalCook),(CookBks),0.1135,0.4310,0.1135,1.000000,2.320186,0.064582,inf
77,"(ArtBks, ChildBks)",(GeogBks),0.1625,0.2760,0.1020,0.627692,2.274247,0.057150,1.944628
80,(GeogBks),"(ArtBks, ChildBks)",0.2760,0.1625,0.1020,0.369565,2.274247,0.057150,1.328448
86,(ArtBks),"(CookBks, DoItYBks)",0.2410,0.1875,0.1015,0.421162,2.246196,0.056313,1.403674
83,"(CookBks, DoItYBks)",(ArtBks),0.1875,0.2410,0.1015,0.541333,2.246196,0.056313,1.654797
96,"(CookBks, ArtBks)",(GeogBks),0.1670,0.2760,0.1035,0.619760,2.245509,0.057408,1.904063
97,(GeogBks),"(CookBks, ArtBks)",0.2760,0.1670,0.1035,0.375000,2.245509,0.057408,1.332800
94,"(CookBks, GeogBks)",(ArtBks),0.1925,0.2410,0.1035,0.537662,2.230964,0.057107,1.641657
99,(ArtBks),"(CookBks, GeogBks)",0.2410,0.1925,0.1035,0.429461,2.230964,0.057107,1.415327
54,"(CookBks, ChildBks)",(RefBks),0.2560,0.2145,0.1225,0.478516,2.230842,0.067588,1.506277
55,(RefBks),"(CookBks, ChildBks)",0.2145,0.2560,0.1225,0.571096,2.230842,0.067588,1.734652
79,(ArtBks),"(GeogBks, ChildBks)",0.2410,0.1950,0.1020,0.423237,2.170444,0.055005,1.395719
78,"(GeogBks, ChildBks)",(ArtBks),0.1950,0.2410,0.1020,0.523077,2.170444,0.055005,1.591452
87,(DoItYBks),"(CookBks, ArtBks)",0.2820,0.1670,0.1015,0.359929,2.155264,0.054406,1.301418
82,"(CookBks, ArtBks)",(DoItYBks),0.1670,0.2820,0.1015,0.607784,2.155264,0.054406,1.830626
65,"(CookBks, ChildBks)",(GeogBks),0.2560,0.2760,0.1495,0.583984,2.115885,0.078844,1.740319
68,(GeogBks),"(CookBks, ChildBks)",0.2760,0.2560,0.1495,0.541667,2.115885,0.078844,1.623273
92,(GeogBks),"(CookBks, DoItYBks)",0.2760,0.1875,0.1085,0.393116,2.096618,0.056750,1.338806
89,"(CookBks, DoItYBks)",(GeogBks),0.1875,0.2760,0.1085,0.578667,2.096618,0.056750,1.718354

In [7]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ChildBks),(YouthBks),0.4230,0.2475,0.1650,0.390071,1.576044,0.060308,1.233750
1,(YouthBks),(ChildBks),0.2475,0.4230,0.1650,0.666667,1.576044,0.060308,1.731000
2,(CookBks),(ChildBks),0.4310,0.4230,0.2560,0.593968,1.404179,0.073687,1.421069
3,(ChildBks),(CookBks),0.4230,0.4310,0.2560,0.605201,1.404179,0.073687,1.441240
4,(ChildBks),(DoItYBks),0.4230,0.2820,0.1840,0.434988,1.542511,0.064714,1.270770
...,...,...,...,...,...,...,...,...,...
95,"(ArtBks, GeogBks)",(CookBks),0.1275,0.4310,0.1035,0.811765,1.883445,0.048547,3.022812
96,"(CookBks, ArtBks)",(GeogBks),0.1670,0.2760,0.1035,0.619760,2.245509,0.057408,1.904063
97,(GeogBks),"(CookBks, ArtBks)",0.2760,0.1670,0.1035,0.375000,2.245509,0.057408,1.332800
98,(CookBks),"(ArtBks, GeogBks)",0.4310,0.1275,0.1035,0.240139,1.883445,0.048547,1.148237
99,(ArtBks),"(CookBks, GeogBks)",0.2410,0.1925,0.1035,0.429461,2.230964,0.057107,1.415327

In [17]:
rule1=association_rules(frequent_itemsets, metric= "confidence", min_threshold=0.7)
rule1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(RefBks),(ChildBks),0.2145,0.423,0.1515,0.706294,1.669725,0.060767,1.964548
1,(GeogBks),(ChildBks),0.2760,0.423,0.1950,0.706522,1.670264,0.078252,1.966074
2,(RefBks),(CookBks),0.2145,0.431,0.1525,0.710956,1.649549,0.060050,1.968556
3,(ItalCook),(CookBks),0.1135,0.431,0.1135,1.000000,2.320186,0.064582,inf
4,"(CookBks, YouthBks)",(ChildBks),0.1620,0.423,0.1290,0.796296,1.882497,0.060474,2.832545
5,"(ChildBks, YouthBks)",(CookBks),0.1650,0.431,0.1290,0.781818,1.813963,0.057885,2.607917
6,"(CookBks, DoItYBks)",(ChildBks),0.1875,0.423,0.1460,0.778667,1.840820,0.066687,2.606928
7,"(ChildBks, DoItYBks)",(CookBks),0.1840,0.431,0.1460,0.793478,1.841017,0.066696,2.755158
8,"(RefBks, CookBks)",(ChildBks),0.1525,0.423,0.1225,0.803279,1.899004,0.057993,2.933083
9,"(RefBks, ChildBks)",(CookBks),0.1515,0.431,0.1225,0.808581,1.876058,0.057204,2.972534
10,"(CookBks, ArtBks)",(ChildBks),0.1670,0.423,0.1265,0.757485,1.790745,0.055859,2.379235
11,"(ArtBks, ChildBks)",(CookBks),0.1625,0.431,0.1265,0.778462,1.806175,0.056462,2.568403
12,"(CookBks, GeogBks)",(ChildBks),0.1925,0.423,0.1495,0.776623,1.835989,0.068072,2.583081
13,"(GeogBks, ChildBks)",(CookBks),0.1950,0.431,0.1495,0.766667,1.778809,0.065455,2.438571
14,"(GeogBks, DoItYBks)",(ChildBks),0.1325,0.423,0.1045,0.788679,1.864490,0.048452,2.730446
15,"(ArtBks, GeogBks)",(ChildBks),0.1275,0.423,0.1020,0.800000,1.891253,0.048067,2.885000
16,"(ArtBks, DoItYBks)",(CookBks),0.1235,0.431,0.1015,0.821862,1.906873,0.048272,3.194159
17,"(GeogBks, DoItYBks)",(CookBks),0.1325,0.431,0.1085,0.818868,1.899926,0.051392,3.141354
18,"(ArtBks, GeogBks)",(CookBks),0.1275,0.431,0.1035,0.811765,1.883445,0.048547,3.022812

# Movies dataset

In [18]:
data1=pd.read_csv("my_movies.csv")

In [19]:
data1.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

# Data Preprocessing

In [20]:
df=pd.get_dummies(data1)
df.head()

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

# Apriori Algorithm

In [21]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (V3_Harry Potter1, Green Mile, Sixth Sense, V5...
1393      0.1  (V3_Harry Potter1, LOTR1, Green Mile, Sixth Se...
1394      0.1  (V3_Harry Potter1, Green Mile, Sixth Sense, V5...
1395      0.1  (V3_Harry Potter1, LOTR1, Green Mile, V5_LOTR2...
1396      0.1  (V3_Harry Potter1, LOTR1, Green Mile, Sixth Se...

[1397 rows x 2 columns]

In [22]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
2,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
3,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
4,(Harry Potter1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
...,...,...,...,...,...,...,...,...,...
64247,(V4_Green Mile),"(V3_Harry Potter1, LOTR1, Green Mile, Sixth Se...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64248,(V2_LOTR1),"(V3_Harry Potter1, LOTR1, Green Mile, Sixth Se...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64249,(Harry Potter1),"(V3_Harry Potter1, LOTR1, Green Mile, Sixth Se...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64250,(V1_Sixth Sense),"(V3_Harry Potter1, LOTR1, Green Mile, Sixth Se...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64251,(LOTR2),"(V3_Harry Potter1, LOTR1, Green Mile, Sixth Se...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80

In [23]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
32126,"(V5_LOTR2, V3_Harry Potter1, Harry Potter1, Si...","(LOTR2, LOTR1, Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33437,"(V4_Green Mile, V2_LOTR1, LOTR2)","(V5_LOTR2, LOTR1, Harry Potter1, Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33415,"(V4_Green Mile, LOTR1, Harry Potter1)","(V5_LOTR2, V2_LOTR1, LOTR2, Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33416,"(V4_Green Mile, LOTR1, LOTR2)","(V5_LOTR2, V2_LOTR1, Harry Potter1, Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33417,"(V2_LOTR1, LOTR1, Harry Potter1)","(V5_LOTR2, V4_Green Mile, LOTR2, Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33418,"(LOTR2, V2_LOTR1, LOTR1)","(V5_LOTR2, V4_Green Mile, Harry Potter1, Sixth...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33419,"(LOTR2, LOTR1, Harry Potter1)","(V5_LOTR2, V4_Green Mile, V2_LOTR1, Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33420,"(V5_LOTR2, V4_Green Mile, Sixth Sense)","(LOTR2, V2_LOTR1, LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33421,"(V5_LOTR2, V2_LOTR1, Sixth Sense)","(V4_Green Mile, LOTR1, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33422,"(V5_LOTR2, Harry Potter1, Sixth Sense)","(V4_Green Mile, V2_LOTR1, LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33423,"(V5_LOTR2, LOTR2, Sixth Sense)","(V4_Green Mile, V2_LOTR1, LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33424,"(V4_Green Mile, V2_LOTR1, Sixth Sense)","(V5_LOTR2, LOTR2, LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33425,"(V4_Green Mile, Harry Potter1, Sixth Sense)","(V5_LOTR2, LOTR2, V2_LOTR1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33426,"(V4_Green Mile, LOTR2, Sixth Sense)","(V5_LOTR2, V2_LOTR1, LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33427,"(V2_LOTR1, Harry Potter1, Sixth Sense)","(V5_LOTR2, V4_Green Mile, LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33428,"(V2_LOTR1, LOTR2, Sixth Sense)","(V5_LOTR2, V4_Green Mile, LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33429,"(LOTR2, Harry Potter1, Sixth Sense)","(V5_LOTR2, V4_Green Mile, V2_LOTR1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33430,"(V5_LOTR2, V4_Green Mile, V2_LOTR1)","(LOTR2, LOTR1, Harry Potter1, Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33431,"(V5_LOTR2, V4_Green Mile, Harry Potter1)","(LOTR2, V2_LOTR1, LOTR1, Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33432,"(V5_LOTR2, V4_Green Mile, LOTR2)","(V2_LOTR1, LOTR1, Harry Potter1, Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [24]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
6,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
7,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
10,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
...,...,...,...,...,...,...,...,...,...
64247,(V4_Green Mile),"(V3_Harry Potter1, LOTR1, Green Mile, Sixth Se...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
64248,(V2_LOTR1),"(V3_Harry Potter1, LOTR1, Green Mile, Sixth Se...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64249,(Harry Potter1),"(V3_Harry Potter1, LOTR1, Green Mile, Sixth Se...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
64250,(V1_Sixth Sense),"(V3_Harry Potter1, LOTR1, Green Mile, Sixth Se...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
64251,(LOTR2),"(V3_Harry Potter1, LOTR1, Green Mile, Sixth Se...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8

In [25]:
#Lets Sort the Rules by Confidence
rule1=association_rules(frequent_itemsets, metric= "confidence", min_threshold=0.7)
rule1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
2,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
3,(Green Mile),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
4,(V1_Sixth Sense),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
...,...,...,...,...,...,...,...,...,...
56755,"(LOTR2, Harry Potter1)","(V3_Harry Potter1, Green Mile, Sixth Sense, V5...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
56756,"(LOTR2, V1_Sixth Sense)","(V3_Harry Potter1, Green Mile, Sixth Sense, V5...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
56757,(V3_Harry Potter1),"(LOTR1, Green Mile, Sixth Sense, V5_LOTR2, V4_...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
56758,(V5_LOTR2),"(V3_Harry Potter1, LOTR1, Green Mile, Sixth Se...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
56759,(V2_LOTR1),"(V3_Harry Potter1, LOTR1, Green Mile, Sixth Se...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf