In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets  
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import  DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn import preprocessing

In [3]:
# import data
companydata = pd.read_csv('Company_Data.Csv')

In [17]:
companydata.dtypes

Sales           int64
CompPrice       int64
Income          int64
Advertising     int64
Population      int64
Price           int64
ShelveLoc      object
Age             int64
Education       int64
Urban          object
US             object
dtype: object

In [19]:
#Converting from categorical data
companydata['High'] = companydata.Sales.map(lambda x: 1 if x>8 else 0)
companydata['ShelveLoc']=companydata['ShelveLoc'].astype('category')
companydata['Urban']=companydata['Urban'].astype('category')
companydata['US']=companydata['US'].astype('category')
companydata.dtypes
companydata.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,High
0,255,138,73,11,276,120,Bad,42,17,Yes,Yes,1
1,297,111,48,16,260,83,Good,65,10,Yes,Yes,1
2,267,113,35,10,269,80,Medium,59,12,Yes,Yes,1
3,158,117,100,4,466,97,Medium,55,14,Yes,Yes,1
4,37,141,64,3,340,128,Bad,38,13,Yes,No,1

In [20]:
#label encoding to convert categorical values into numeric.
companydata['ShelveLoc']=companydata['ShelveLoc'].cat.codes
companydata['Urban']=companydata['Urban'].cat.codes
companydata['US']=companydata['US'].cat.codes
companydata.tail()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,High
395,320,138,108,17,203,128,1,33,14,1,1,1
396,114,139,23,3,37,120,2,55,11,0,1,1
397,159,162,26,12,368,159,2,40,18,1,1,1
398,106,100,79,7,284,95,0,50,12,1,1,1
399,262,134,37,0,27,120,1,49,16,1,1,1

In [21]:
#Dependent and independent Variables
feature_cols=['CompPrice','Income','Advertising','Population','Price','ShelveLoc','Age','Education','Urban','US']
#x = company.drop(['Sales', 'High'], axis = 1)
x = companydata[feature_cols]
y = companydata.High
print(x)
print(y)

     CompPrice  Income  Advertising  Population  Price  ShelveLoc  Age  \
0          138      73           11         276    120          0   42
1          111      48           16         260     83          1   65
2          113      35           10         269     80          2   59
3          117     100            4         466     97          2   55
4          141      64            3         340    128          0   38
..         ...     ...          ...         ...    ...        ...  ...
395        138     108           17         203    128          1   33
396        139      23            3          37    120          2   55
397        162      26           12         368    159          2   40
398        100      79            7         284     95          0   50
399        134      37            0          27    120          1   49

     Education  Urban  US
0           17      1   1
1           10      1   1
2           12      1   1
3           14      1   1
4           13      1   0
..         ...    ...  ..
395         14      1   1
396         11      0   1
397         18      1   1
398         12      1   1
399         16      1   1

[400 rows x 10 columns]
0      1
1      1
2      1
3      1
4      1
      ..
395    1
396    1
397    1
398    1
399    1
Name: High, Length: 400, dtype: int64

In [22]:
#Train test Split
x_train,x_test,y_train,y_test= train_test_split(x,y, test_size=0.2,random_state=0)

In [25]:
from sklearn.ensemble import BaggingClassifier #bagging combines the results of multipls models to get a generalized result. 
from sklearn.ensemble import AdaBoostClassifier #boosting method attempts to correct the errors of previous models.
#Buiding Decision Tree model
dcmodel =  BaggingClassifier(DecisionTreeClassifier(max_depth = 6), random_state=0) #decision tree classifier object
dcmodel =  AdaBoostClassifier(DecisionTreeClassifier(max_depth = 6), random_state=0) #decision tree classifier object

dcmodel = dcmodel.fit(x_train,y_train) #train decision tree
y_predict = dcmodel.predict(x_test)

In [27]:
from sklearn.metrics import accuracy_score#importing metrics for accuracy calculation (confusion matrix)
#Finding Accuracy
print("Accuracy : ", accuracy_score(y_test,y_predict)*100 )

Accuracy :  95.0

In [29]:

#from sklearn.externals.six import StringIO
#Visua;izing the decision tree
#dot_data = StringIO()
#export_graphviz(dcmodel,out_file=dot_data,feature_names=feature_cols)

#(graph, )= graph_from_dot_data(dot_data.getvalue())
#Image(graph.create_png())

In [31]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_predict))
print(classification_report(y_test,y_predict))

[[ 0  0]
 [ 4 76]]
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         0
           1       1.00      0.95      0.97        80

    accuracy                           0.95        80
   macro avg       0.50      0.47      0.49        80
weighted avg       1.00      0.95      0.97        80

C:\Users\acer\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# decision trees to prepare a model on fraud data

In [34]:
fraud=pd.read_csv('C:\\Users\\acer\\Documents\\Excel r\\Assignments\\Decision Tree\\Fraud_check.csv')

In [35]:
##Converting the Taxable income variable to bucketing. 
fraud["income"]="<=30000"
fraud.loc[fraud["Taxable.Income"]>=30000,"income"]="Good"
fraud.loc[fraud["Taxable.Income"]<=30000,"income"]="Risky"

In [38]:
##Droping the Taxable income variable
fraud.drop(["Taxable.Income"],axis=1,inplace=True)
fraud.rename(columns={"Undergrad":"undergrad","Marital.Status":"marital","City.Population":"population","Work.Experience":"experience","Urban":"urban"},inplace=True)

In [39]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
for column_name in fraud.columns:
    if fraud[column_name].dtype == object:
        fraud[column_name] = le.fit_transform(fraud[column_name])
    else:
        pass

In [40]:
##Splitting the data into featuers and labels
features = fraud.iloc[:,0:5]
labels = fraud.iloc[:,5]

In [41]:
## Collecting the column names
colnames = list(fraud.columns)
predictors = colnames[0:5]
target = colnames[5]

In [42]:
##Splitting the data into train and test

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(features,labels,test_size = 0.2,stratify = labels)

In [56]:
from sklearn.ensemble import BaggingClassifier #bagging combines the results of multipls models to get a generalized result. 
from sklearn.ensemble import AdaBoostClassifier #boosting method attempts to correct the errors of previous models.
#Buiding Decision Tree model
dcmodel =  BaggingClassifier(DecisionTreeClassifier(max_depth = 6), random_state=0) #decision tree classifier object
dcmodel =  AdaBoostClassifier(DecisionTreeClassifier(max_depth = 6), random_state=0) #decision tree classifier object

dcmodel = dcmodel.fit(x_train,y_train) #train decision tree
y_predict = dcmodel.predict(x_test)

In [57]:
from sklearn.metrics import accuracy_score#importing metrics for accuracy calculation (confusion matrix)
#Finding Accuracy
print("Accuracy : ", accuracy_score(y_test,y_predict)*100 )

Accuracy :  71.66666666666667

In [58]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_predict))
print(classification_report(y_test,y_predict))

[[84 11]
 [23  2]]
              precision    recall  f1-score   support

           0       0.79      0.88      0.83        95
           1       0.15      0.08      0.11        25

    accuracy                           0.72       120
   macro avg       0.47      0.48      0.47       120
weighted avg       0.65      0.72      0.68       120